//----------Colores generales----------//

$color-fuentes: #fafafa;
$color-hover: #D3D3D3;
$color-btn: #cc2936;
$color-caja-seccion2: #005bea;

//----------Colores degrade fondo----------//

$color-body1: #a8c0ff; 
$color-body2: #3f2b96;
$color-body3: #a8c0ff; 
